
<!-- 
? @document-start
================
| LANDING PAGE |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          index.html
? @document-created:       
? @document-modified:      
? @document-version:       v1.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Coming soon

==================================================================================================================================
 -->

<!DOCTYPE html>

<html>
    <head>
        <!-- ** Title ** -->
        <title>Webpage</title>

        <!-- ** Metadata ** -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="author" content="William J. Horn"/>
        <meta name="description" content="My webpage"/>

        <!-- ** Local CSS ** -->
        <!-- css libraries -->
        <link rel="stylesheet" href="../css/base.css"/> <!-- base css library -->

        <!-- main styles -->
        <link rel="stylesheet" href="../css/frame.css"/>
    </head>
    
    <body>
        <div class="content-wrapper large-padding large-margin-all fill-viewport center-content-wide">
            <header class="center-content-wide">
                <h1>Chatroom</h1>
                <p>This chatroom is powered by boredom</p>
            </header>
            <div class="content-body center-content-wide width-50">
                {{{body}}}
            </div>
        </div>
    </body>
</html>


