<div class="login-screen width-50 medium-padding small-padding-all center-content-wide">
    <h2>Login:</h2>
    <div>
        <label for="username-box">Enter Username:</label>
        <input type="text" id="username-box" name="username-box>">
    </div>
    <div>
        <label for="password-box">Enter Password:</label>
        <input type="password" id="password-box" name="password-box">
    </div>
    <button class="login-button" id="login-button">Login</button>
    <script type="module" src="./js/login.js"></script>
</div>